h2{
    background-color: palevioletred;
    text-align: center;
    padding: 10px;
    margin: 2px;

}
h3{
    background-color: palevioletred;
    text-align: center;
    padding: 10px;
    margin: 0%;
}
.iconos{
    text-align: center;
}